*{
    text-align: center;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

#navegacao, P{
    display: flex;
}


p {
    font-size: 35px; 
    font-weight: 600;
    margin: 42px 35px 0 0;
}

#poster {
    width: auto;
    height: 700px;
    margin-top: 139px;

    background: #5B5B5B;
}

/* Gato rajado com a pata levantada */
#poster :nth-child(3) {
    position: absolute;
    width: 1000px;
    height: auto;
    left: -44px;
    top: -70px;
}

/* gato branco deitado */
#poster :nth-child(2) {
    position: absolute;
    width: 900px;
    height: auto;
    left: 492px;
    top: 296px
}

/* Gato rajado em pé */
#poster :nth-child(1) {
    position: absolute;
    width: 605px;
    height: auto;
    left: 890px;
    top: -28px;
}
    
/* Tres gatos surpresos */
#poster :nth-child(4) {
    position: absolute;
    width: 1120px;
    height: auto;
    top: 204px;
    left: 1113px;
}

 #linha {
    position: relative;
    width: auto;
    height: 17px;

    background: #D9D9D9;
}

#background-color{
    background: linear-gradient(180deg, #5B5B5B -24.67%, #D9D9D9 86.67%);
}



img {
    width: 225px;
    height: 270px;  
}

.cards{
    display: flex;
    justify-content: space-evenly;

    padding: 50px 50px 0px 50px;
}

#text-p{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    font-weight: 800;
}

svg {
    width: auto;
    height: 50px;

    margin: 5px;
}


#footer{
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    padding: 100px 0 0 0;
}